
body{
  width: 100%;
}



/* --------------------------------------main---------------------------------------------- */

main{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(242,242,242);
}

main svg{
  margin-right: 12px;
}

.connects, .create-task{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 260px;
  width: 228px;
  height: 34px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  background-color: white;
  margin-bottom: 12px;
}

.pad{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 260px;
  width: 228px;
  height: 34px;
  border: 1px solid black;
  background-color: white;
}

#main-icon{
  margin-top: 50px;
  margin-bottom: 80px;
}

#main-container{
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* --------------------------------Task and Chat -------------------------*/

.task-count{
  text-align: center;
  height: 34px;
}

/* --------------------------------Setting--------------------------------- */


#settings{
  padding: 0px 14px 0px 14px;
  width: 100%;
}

#settings #title{
  padding: 14px 0px 14px 0px;
}

#settings h1{
  font-weight: 400px;
  line-height: 23.4px;
  letter-spacing: 0.3px;
  font-size: 1.125rem;
}

#settings legend{
  padding: 5px 0px 14px 0px;
}

#settings label{
  padding-bottom: 8px;
}

.wrapper-option{
  display: flex;
}

#settings-main{
  font-size: 1rem;
  font-weight: 400px;
  letter-spacing: 0.3px;
  width: 1149px;
  height: 763px;
}


/* --------------------------------------Settings Language dropdown options- */
#language-dropdown-btn {
  border: none;
  border-bottom: 1px solid black;
  font-size: 1rem;
  height: 34px;
  padding: 0px 14px 0px 14px;
  cursor: pointer;
  position: relative;
}
#language-dropdown-btn > div:first-child{
  display: flex;
  width: 368px;
  height: 18px;
  
}
#language{
  width: 341px;
  text-align: start;
}

#language-dropdown-icon{
  width: fit-content;
}

.language-dropdown-options ul{
  width: 398px;
  height: 298px;
  overflow-y: scroll;

}
.language-dropdown-options li{
  list-style: none;
  width: 383px;
  height: 46px;
  display: flex;
  align-items: center;
  padding: 14px 18px 14px 18px;
  background-color: white;
  cursor: pointer;

}
.language-dropdown-options ul li:hover{
  background-color: rgb(71, 89, 110);
  color: white;
}

.language-dropdown-options{
  position: absolute;
  display: none;

}

/* --------------------------------------Settings Footer */

/* -----------------------------------ROW1 */

#footer{
  width: 100%;
}

#footer-row1{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 14px 10px 14px;
  border-bottom: 1px solid black;
  height: 50px;
}

#cancel-btn{
  border: 1px solid black;
  padding: 0px 15px 0px 15px;
  margin-right: 6px;
  width: 71px;
  height: 28px;
}

#save-btn{
  background-color: rgb(7, 115, 152);
  color: white;
  border: none;
  padding: 0px 15px 0px 15px;
  width: 71px;
  height: 28px;
}

/* -----------------------------------ROW2*/
#footer-row2{
  width: 1149px;
  padding: 10px 14px 10px 14px;
  height: 67px;
}

#footer-row2 > a:first-child{
  padding-bottom: 0.625rem;
  height: 28px;

}

#footer-row2 a{
  text-decoration: none;
  color: rgb(17, 102, 187);
}
